# Lecture 3: Big Ideas: Data Collection, Data Questions, Data Formats, Data types

## What do Data Scientists do?
  * Produce case studies
  * Try to figure out what data is meaningful?
  * Applications like natural language processing (NLP), dynamic pricing, 
  * Collect, scrape, clean data
  * Making recommendations
  * Communicating with different departments, making sure the data is useful
    * Making reports
  * Discovering patterns, trends, insights 
  * Making predictions

## What is data?
  * Raw information collected about something, prior to analysis
  * Quantifiable
  * Large collections/sets of numbers, strings, dates, locations, symbols, characters

## Where to get data: Some ideas

### Companies
 * Google ngrams: https://books.google.com/ngrams
 * API - "application programming interfaces" - a way to programmatically ask for data. Many companies/institutions, including:
   * Twitter
   * New York Times
   * Facebook
   * Uber

### Universities
- [Cornell Library Arxiv](https://arxiv.org/help/api/)
-  [University of Washington](https://dcollab.uw.edu/)


### Governments
 * https://www.data.gov/
 * https://data.wa.gov/
 * https://www.whatcomcounty.us/716/Data
 * https://www.google.com/search?q=city+of+bellingham+data
 * https://data.seattle.gov/

### National Labs
+ https://data.pnnl.gov/
+ https://data.nrel.gov/

### Scientists / academics
 * Have to search around - rarely available in centralized repositories; often not available.
   + https://scholar.google.com/ is good for finding papers related to a subject
   + Github
   + Faculty web pages
   + Conference workshop challenge datasets

* Other data sciency people
 * Data science/ML contests
   * https://www.kaggle.com/datasets
 * Data journalists:
   * https://data.fivethirtyeight.com/
   * https://open.nytimes.com/data/home

### Collect/create it yourself
- Personal devices
  + Camera
  + Phone
- Survey
- Web scraping
- Synthetic data from a model

## Why do institutions/individuals share data?
+ Legal obligation
+ Reproduce scientific/data science results 
+ Transparency
+ Advantages in seeing what an open community will do with the data
+ As a requirement/option for receiving some service

## Asking interesting data questions

* Consider this dataset:
 * IMDB: All things movies. https://www.imdb.com/interfaces/
   * Films: title, duration, genre tags, date, cast, crew, user ratings, critic ratings, ...
   * People (actors, directors, writers, producers, crew): appearances/credits, birth/death dates, height, awards, ...
 
* Think-pair-share: Come up wtih one interesting question you might want to answer with the IMDB dataset.

**Ideas from the class:**

### Data formats

1. CSV (our bread and butter)
 * example: [avengers.csv](https://facultyweb.cs.wwu.edu/~wehrwes/courses/data311_21f/data/avengers/avengers.csv), via https://github.com/fivethirtyeight/data/tree/master/avengers
 * Reading a CSV file in Python, 3 ways: https://www.youtube.com/watch?v=fbl8fMQ9tQM
 * See the arguments to [`pd.read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) to see some of the craziness you can find in CSV files and some of the capabilities of pandas in reading them.
 * Variations: separators, quoting, headers or not, ...
 
2. JSON: Javascript Object Notation (popular, especially for data with more nuanced structure)
 * Example: [SEA_building_energy.json](https://facultyweb.cs.wwu.edu/~wehrwes/courses/data311_21f/data/SEA_building_energy.json), via https://www.kaggle.com/city-of-seattle/sea-building-energy-benchmarking/version/8
3. (SQL) - traditional databases; generally not human-readable, but exportable to JSON or CSV
4. Language specific file formats: XML (excel), .npy (numpy), .pth (pytorch), .pkl (python), .mat (matlab)
5. HDF5 Compressed file format for large sets of structured numerical data

### [Gazetteer](https://en.wikipedia.org/wiki/Gazetteer)
Contains information concerning the geographical makeup, social statistics and physical features of a city, country, region, or continent.

**[Geonames](https://www.geonames.org/)** 

The GeoNames geographical database covers all countries and contains over eleven million placenames. [Raw data](http://download.geonames.org/export/dump/)

**[GDP Data by country](https://datahub.io/core/gdp)**

Data science question: Find a snowbird vacation spot to live during the winter. Criteria are approximately opposite latitude, low cost of living, and a large population. We'll use GDP as a proxy for cost of living.

## Download and unzip the data we need to answer our question

In [6]:
!wget http://download.geonames.org/export/dump/cities15000.zip -P sample_data/
!unzip sample_data/cities15000.zip
!wget http://download.geonames.org/export/dump/countryInfo.txt -P sample_data/
!wget http://download.geonames.org/export/dump/readme.txt -P sample_data/
!wget https://datahub.io/core/gdp/r/gdp.json -P sample_data/

--2022-09-26 14:21:25--  http://download.geonames.org/export/dump/cities15000.zip
Resolving download.geonames.org (download.geonames.org)... 5.9.152.54
Connecting to download.geonames.org (download.geonames.org)|5.9.152.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2464254 (2.3M) [application/zip]
Saving to: ‘sample_data/cities15000.zip.1’

cities15000.zip.1   100%[===================>]   2.35M  2.89MB/s    in 0.8s

2022-09-26 14:21:26 (2.89 MB/s) - ‘sample_data/cities15000.zip.1’ saved [2464254/2464254]

Archive:  sample_data/cities15000.zip
replace cities15000.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: --2022-09-26 14:27:18--  http://download.geonames.org/export/dump/countryInfo.txt
Resolving download.geonames.org (download.geonames.org)... 5.9.152.54
Connecting to download.geonames.org (download.geonames.org)|5.9.152.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31411 (31K) [text/plain]
Saving to: ‘sample_data/countryInfo.txt.1’

countryInfo.txt.1   100%[===================>]  30.67K  --.-KB/s    in 0.1s

2022-09-26 14:27:18 (266 KB/s) - ‘sample_data/countryInfo.txt.1’ saved [31411/31411]

--2022-09-26 14:27:18--  http://download.geonames.org/export/dump/readme.txt
Resolving download.geonames.org (download.geonames.org)... 5.9.152.54
Connecting to download.geonames.org (download.geonames.org)|5.9.152.54|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8716 (8.5K) [text/plain]
Saving to: ‘sample_data/readme.txt.1’

readme.txt.1        100%[===================>]   8.51K  --.-KB/s    in 0s

2022-09-26 14:27:19 (186 MB/s) - ‘sample_data/readme.txt.1’ saved [8716/8716]

--2022-09-26 14:27:19--  https://datahub.io/core/gdp/r/gdp.json
Resolving datahub.io (datahub.io)... 104.21.40.221, 172.67.157.38, 2606:4700:3033::6815:28dd, ...
Connecting to datahub.io (datahub.io)|104.21.40.221|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://pkgstore.datahub.io/core/gdp/gdp_json/data/1a2503aa36368933be8f9a96e1dc16de/gdp_json.json [following]
--2022-09-26 14:27:20--  https://pkgstore.datahub.io/core/gdp/gdp_json/data/1a2503aa36368933be8f9a96e1dc16de/gdp_json.json
Resolving pkgstore.datahub.io (pkgstore.datahub.io)... 104.21.40.221, 172.67.157.38, 2606:4700:3030::ac43:9d26, ...
Connecting to pkgstore.datahub.io (pkgstore.datahub.io)|104.21.40.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1111120 (1.1M) [text/plain]
Saving to: ‘sample_data/gdp.json.1’

gdp.json.1          100%[===================>]   1.06M  6.91MB/s    in 0.2s

2022-09-26 14:27:21 (6.91 MB/s) - ‘sample_data/gdp.json.1’ saved [1111120/1111120]

## Load country data from gazetter into a dataframe

In [11]:
import pandas as pd
countries = pd.read_csv('sample_data/countryInfo.txt', sep='\t', skiprows=49)
countries.columns
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #ISO                251 non-null    object
 1   ISO3                252 non-null    object
 2   ISO-Numeric         252 non-null    int64
 3   fips                249 non-null    object
 4   Country             252 non-null    object
 5   Capital             246 non-null    object
 6   Area(in sq km)      252 non-null    float64
 7   Population          252 non-null    int64
 8   Continent           210 non-null    object
 9   tld                 251 non-null    object
 10  CurrencyCode        251 non-null    object
 11  CurrencyName        251 non-null    object
 12  Phone               247 non-null    object
 13  Postal Code Format  162 non-null    object
 14  Postal Code Regex   162 non-null    object
 15  Languages           249 non-null    object
 16  geonameid           252 non-null    int64
 17  neighbours          165 non-null    object
 18  EquivalentFipsCode  1 non-null      object
dtypes: float64(1), int64(3), object(15)
memory usage: 37.5+ KB

## Load city data from gazeteer into pandas dataframe

In [12]:
cities = pd.read_csv('cities15000.txt', sep='\t')
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26250 entries, 0 to 26249
Data columns (total 19 columns):
 #   Column                                                                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                                                                        --------------  -----
 0   3040051                                                                                                                                                                                       26250 non-null  int64
 1   les Escaldes                                                                                                                                                                                  26250 non-null  object
 2   les Escaldes.1                                                                                                                                                                                26250 non-null  object
 3   Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engordany,Les Escaldes,esukarudesu=engorudani jiao qu,lai sai si ka er de-en ge er da,Эскальдес-Энджордани,エスカルデス＝エンゴルダニ教区,萊塞斯卡爾德-恩戈爾達,萊塞斯卡爾德－恩戈爾達  24029 non-null  object
 4   42.50729                                                                                                                                                                                      26250 non-null  float64
 5   1.53414                                                                                                                                                                                       26250 non-null  float64
 6   P                                                                                                                                                                                             26250 non-null  object
 7   PPLA                                                                                                                                                                                          26250 non-null  object
 8   AD                                                                                                                                                                                            26236 non-null  object
 9   Unnamed: 9                                                                                                                                                                                    196 non-null    object
 10  08                                                                                                                                                                                            26243 non-null  object
 11  Unnamed: 11                                                                                                                                                                                   20885 non-null  object
 12  Unnamed: 12                                                                                                                                                                                   8387 non-null   object
 13  Unnamed: 13                                                                                                                                                                                   2616 non-null   object
 14  15853                                                                                                                                                                                         26250 non-null  int64
 15  Unnamed: 15                                                                                                                                                                                   4231 non-null   float64
 16  1033                                                                                                                                                                                          26250 non-null  int64
 17  Europe/Andorra                                                                                                                                                                                26250 non-null  object
 18  2008-10-15                                                                                                                                                                                    26250 non-null  object
dtypes: float64(3), int64(3), object(13)
memory usage: 3.8+ MB

## We can find the column names in the readme.txt file

In [13]:
names = open('sample_data/readme.txt', 'r').readlines()[43:62]
names = [n.split(':')[0].strip() for n in names]
names
cities = pd.read_csv('cities15000.txt', sep='\t', names=names)
print(cities.columns)
cities.info()

Index(['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude',
       'longitude', 'feature class', 'feature code', 'country code', 'cc2',
       'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
       'population', 'elevation', 'dem', 'timezone', 'modification date'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26251 entries, 0 to 26250
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   geonameid          26251 non-null  int64
 1   name               26251 non-null  object
 2   asciiname          26251 non-null  object
 3   alternatenames     24030 non-null  object
 4   latitude           26251 non-null  float64
 5   longitude          26251 non-null  float64
 6   feature class      26251 non-null  object
 7   feature code       26251 non-null  object
 8   country code       26237 non-null  object
 9   cc2                196 non-null    object
 10  admin1 code        26244 non-null  object
 11  admin2 code        20885 non-null  object
 12  admin3 code        8387 non-null   object
 13  admin4 code        2616 non-null   object
 14  population         26251 non-null  int64
 15  elevation          4231 non-null   float64
 16  dem                26251 non-null  int64
 17  timezone           26251 non-null  object
 18  modification date  26251 non-null  object
dtypes: float64(3), int64(3), object(13)
memory usage: 3.8+ MB

## Now let's filter the data to possible snowbird locations

In [10]:
mytowns = cities[cities['latitude'] <= -40.]
mytowns = mytowns[mytowns['latitude'] >= -50.].reset_index()
mytowns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              47 non-null     int64
 1   geonameid          47 non-null     int64
 2   name               47 non-null     object
 3   asciiname          47 non-null     object
 4   alternatenames     41 non-null     object
 5   latitude           47 non-null     float64
 6   longitude          47 non-null     float64
 7   feature class      47 non-null     object
 8   feature code       47 non-null     object
 9   country code       47 non-null     object
 10  cc2                1 non-null      object
 11  admin1 code        47 non-null     object
 12  admin2 code        46 non-null     object
 13  admin3 code        10 non-null     object
 14  admin4 code        0 non-null      object
 15  population         47 non-null     int64
 16  elevation          0 non-null      float64
 17  dem                47 non-null     int64
 18  timezone           47 non-null     object
 19  modification date  47 non-null     object
dtypes: float64(3), int64(4), object(13)
memory usage: 7.5+ KB

### Since we want to move to a country with low GDP we need to pair the city data with the country data. First step is to make a dataframe of country info that aligns with our dataframe of city info

In [159]:
country_of_city = [countries[countries['#ISO'] == code] for code in mytowns['country code']]
country_of_city = pd.concat(country_of_city, ignore_index=True)
country_of_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #ISO                47 non-null     object
 1   ISO3                47 non-null     object
 2   ISO-Numeric         47 non-null     int64
 3   fips                47 non-null     object
 4   Country             47 non-null     object
 5   Capital             47 non-null     object
 6   Area(in sq km)      47 non-null     float64
 7   Population          47 non-null     int64
 8   Continent           47 non-null     object
 9   tld                 47 non-null     object
 10  CurrencyCode        47 non-null     object
 11  CurrencyName        47 non-null     object
 12  Phone               46 non-null     object
 13  Postal Code Format  46 non-null     object
 14  Postal Code Regex   46 non-null     object
 15  Languages           47 non-null     object
 16  geonameid           47 non-null     int64
 17  neighbours          21 non-null     object
 18  EquivalentFipsCode  0 non-null      object
dtypes: float64(1), int64(3), object(15)
memory usage: 7.1+ KB

## Now we can concatenate these two dataframes along the column axis

In [160]:
my_towns_and_countries = pd.concat([mytowns, country_of_city], axis=1)
my_towns_and_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               47 non-null     int64
 1   geonameid           47 non-null     int64
 2   name                47 non-null     object
 3   asciiname           47 non-null     object
 4   alternatenames      41 non-null     object
 5   latitude            47 non-null     float64
 6   longitude           47 non-null     float64
 7   feature class       47 non-null     object
 8   feature code        47 non-null     object
 9   country code        47 non-null     object
 10  cc2                 1 non-null      object
 11  admin1 code         47 non-null     object
 12  admin2 code         46 non-null     object
 13  admin3 code         10 non-null     object
 14  admin4 code         0 non-null      object
 15  population          47 non-null     int64
 16  elevation           0 non-null      float64
 17  dem                 47 non-null     int64
 18  timezone            47 non-null     object
 19  modification date   47 non-null     object
 20  #ISO                47 non-null     object
 21  ISO3                47 non-null     object
 22  ISO-Numeric         47 non-null     int64
 23  fips                47 non-null     object
 24  Country             47 non-null     object
 25  Capital             47 non-null     object
 26  Area(in sq km)      47 non-null     float64
 27  Population          47 non-null     int64
 28  Continent           47 non-null     object
 29  tld                 47 non-null     object
 30  CurrencyCode        47 non-null     object
 31  CurrencyName        47 non-null     object
 32  Phone               46 non-null     object
 33  Postal Code Format  46 non-null     object
 34  Postal Code Regex   46 non-null     object
 35  Languages           47 non-null     object
 36  geonameid           47 non-null     int64
 37  neighbours          21 non-null     object
 38  EquivalentFipsCode  0 non-null      object
dtypes: float64(4), int64(7), object(28)
memory usage: 14.4+ KB

## Next we'll load up the gdp info from another source

In [161]:
gdp = pd.read_json('sample_data/gdp.json')
gdp_recent = gdp[gdp['Year'] == 2016].reset_index()
gdp_recent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         236 non-null    int64
 1   Country Code  236 non-null    object
 2   Country Name  236 non-null    object
 3   Value         236 non-null    float64
 4   Year          236 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 9.3+ KB

## There isn't GDP information for one of the countries

In [162]:
cities, gdps = [], []

for ix, city in my_towns_and_countries.iterrows():
  gdp = gdp_recent[gdp_recent['Country Code'] == city['ISO3']]
  if len(gdp) == 1:
    gdps.append(gdp)
    cities.append(pd.DataFrame([city.tolist()], columns=city.index))
  else:
    print(city['name'])
    print(city['Country'])
    print(city['modification date'])
cities, gdps = pd.concat(cities, ignore_index=True), pd.concat(gdps, ignore_index=True)
# cities.info(), gdps.info()
mycities = pd.concat([cities, gdps], axis=1)
mycities.info()

Port-aux-Français
French Southern Territories
2018-08-17
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               46 non-null     int64
 1   geonameid           46 non-null     int64
 2   name                46 non-null     object
 3   asciiname           46 non-null     object
 4   alternatenames      40 non-null     object
 5   latitude            46 non-null     float64
 6   longitude           46 non-null     float64
 7   feature class       46 non-null     object
 8   feature code        46 non-null     object
 9   country code        46 non-null     object
 10  cc2                 0 non-null      float64
 11  admin1 code         46 non-null     object
 12  admin2 code         46 non-null     object
 13  admin3 code         10 non-null     object
 14  admin4 code         0 non-null      float64
 15  population          46 non-null     int64
 16  elevation           0 non-null      float64
 17  dem                 46 non-null     int64
 18  timezone            46 non-null     object
 19  modification date   46 non-null     object
 20  #ISO                46 non-null     object
 21  ISO3                46 non-null     object
 22  ISO-Numeric         46 non-null     int64
 23  fips                46 non-null     object
 24  Country             46 non-null     object
 25  Capital             46 non-null     object
 26  Area(in sq km)      46 non-null     float64
 27  Population          46 non-null     int64
 28  Continent           46 non-null     object
 29  tld                 46 non-null     object
 30  CurrencyCode        46 non-null     object
 31  CurrencyName        46 non-null     object
 32  Phone               46 non-null     object
 33  Postal Code Format  46 non-null     object
 34  Postal Code Regex   46 non-null     object
 35  Languages           46 non-null     object
 36  geonameid           46 non-null     int64
 37  neighbours          21 non-null     object
 38  EquivalentFipsCode  0 non-null      float64
 39  index               46 non-null     int64
 40  Country Code        46 non-null     object
 41  Country Name        46 non-null     object
 42  Value               46 non-null     float64
 43  Year                46 non-null     int64
dtypes: float64(8), int64(9), object(27)
memory usage: 15.9+ KB

## Select only cities from country with the lowest GDP

In [163]:
mycities = mycities[mycities['Value'] == mycities['Value'].min()]
mycities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 24 to 45
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               22 non-null     int64
 1   geonameid           22 non-null     int64
 2   name                22 non-null     object
 3   asciiname           22 non-null     object
 4   alternatenames      16 non-null     object
 5   latitude            22 non-null     float64
 6   longitude           22 non-null     float64
 7   feature class       22 non-null     object
 8   feature code        22 non-null     object
 9   country code        22 non-null     object
 10  cc2                 0 non-null      float64
 11  admin1 code         22 non-null     object
 12  admin2 code         22 non-null     object
 13  admin3 code         0 non-null      object
 14  admin4 code         0 non-null      float64
 15  population          22 non-null     int64
 16  elevation           0 non-null      float64
 17  dem                 22 non-null     int64
 18  timezone            22 non-null     object
 19  modification date   22 non-null     object
 20  #ISO                22 non-null     object
 21  ISO3                22 non-null     object
 22  ISO-Numeric         22 non-null     int64
 23  fips                22 non-null     object
 24  Country             22 non-null     object
 25  Capital             22 non-null     object
 26  Area(in sq km)      22 non-null     float64
 27  Population          22 non-null     int64
 28  Continent           22 non-null     object
 29  tld                 22 non-null     object
 30  CurrencyCode        22 non-null     object
 31  CurrencyName        22 non-null     object
 32  Phone               22 non-null     object
 33  Postal Code Format  22 non-null     object
 34  Postal Code Regex   22 non-null     object
 35  Languages           22 non-null     object
 36  geonameid           22 non-null     int64
 37  neighbours          0 non-null      object
 38  EquivalentFipsCode  0 non-null      float64
 39  index               22 non-null     int64
 40  Country Code        22 non-null     object
 41  Country Name        22 non-null     object
 42  Value               22 non-null     float64
 43  Year                22 non-null     int64
dtypes: float64(8), int64(9), object(27)
memory usage: 7.7+ KB

## One of the cities has no population. Weird. Let's remove this spurious data point.

In [164]:
mycities['population']
mycities.iloc[-1]
# Remove pesky datapoint
# mycities = mycities[mycities['population'] != 0]
# mycities['population']

index                                17598
geonameid                         11903546
name                  Linton Military Camp
asciiname             Linton Military Camp
alternatenames                         NaN
latitude                         -40.40309
longitude                        175.58302
feature class                            P
feature code                          PPLG
country code                            NZ
cc2                                    NaN
admin1 code                             F3
admin2 code                            040
admin3 code                            NaN
admin4 code                            NaN
population                               0
elevation                              NaN
dem                                     38
timezone                  Pacific/Auckland
modification date               2018-07-25
#ISO                                    NZ
ISO3                                   NZL
ISO-Numeric                            554
fips                                    NZ
Country                        New Zealand
Capital                         Wellington
Area(in sq km)                    268680.0
Population                         4885500
Continent                               OC
tld                                    .nz
CurrencyCode                           NZD
CurrencyName                        Dollar
Phone                                   64
Postal Code Format                    ####
Postal Code Regex                ^(\d{4})$
Languages                         en-NZ,mi
geonameid                          2186224
neighbours                             NaN
EquivalentFipsCode                     NaN
index                                 8334
Country Code                           NZL
Country Name                   New Zealand
Value                  184969146624.470001
Year                                  2016
Name: 45, dtype: object

## Now select the city with the largest population

In [166]:
mycities = mycities[mycities['population'] == mycities['population'].max()]
mycities.iloc[0]

index                                                             17546
geonameid                                                       2179537
name                                                         Wellington
asciiname                                                    Wellington
alternatenames        Hie-ling-dong,Hiê-lìng-dóng,Ouellin'nkton,Ouel...
latitude                                                      -41.28664
longitude                                                     174.77557
feature class                                                         P
feature code                                                       PPLC
country code                                                         NZ
cc2                                                                 NaN
admin1 code                                                          G2
admin2 code                                                         047
admin3 code                                                         NaN
admin4 code                                                         NaN
population                                                       381900
elevation                                                           NaN
dem                                                                  31
timezone                                               Pacific/Auckland
modification date                                            2019-09-05
#ISO                                                                 NZ
ISO3                                                                NZL
ISO-Numeric                                                         554
fips                                                                 NZ
Country                                                     New Zealand
Capital                                                      Wellington
Area(in sq km)                                                 268680.0
Population                                                      4885500
Continent                                                            OC
tld                                                                 .nz
CurrencyCode                                                        NZD
CurrencyName                                                     Dollar
Phone                                                                64
Postal Code Format                                                 ####
Postal Code Regex                                             ^(\d{4})$
Languages                                                      en-NZ,mi
geonameid                                                       2186224
neighbours                                                          NaN
EquivalentFipsCode                                                  NaN
index                                                              8334
Country Code                                                        NZL
Country Name                                                New Zealand
Value                                               184969146624.470001
Year                                                               2016
Name: 24, dtype: object